/* estilo por defecto que resetee los estilos globales del navegador */
*{
    box-sizing: border-box; /*que ocupen el espaciado extenro e interno*/
    margin: 0;   /*sin margenes hacia afuera */
    padding: 0;  /*espaciado hacia adentro */
}

body{ /* https://www.heropatterns.com/ permite crear diseños de patrones, despues copias y pegas el codigo css */
    background: #ebebeb; /* fondo */
    color: #000000; /* texto */
    font-size: 16px;

    font-style: italic;

    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540034' fill-opacity='0.2'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");     */
    /* la letra de aca https://fonts.google.com/specimen/Oswald?preview.text_type=custom  */
    /* font-family: 'Oswald', sans-serif; */
}



a{
    color: #ffffff; /*enlaces */
    text-decoration: none; /*subrayado de los enlaces */
    color:#000000;

}


ul{ 
    list-style: none; /*quitamos los stilos por defecto que podrian tener */
    
}


.container{ /*clase container*/
    width: 90%; /* que abarque el 90% de la pantalla*/
    margin: auto; /*que este centrado el elemento */
    align-items: center;
    justify-content: center;
}



/* SMOOTH SCROLLING CON CSS https://codepen.io/luisho/pen/ZEbXWBb*/
/* Secciones */


/* .section {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.section:nth-of-type(1) {
    background-color: #5D43BB;
}

.section:nth-of-type(2) {
    background-color: #5EE0C2;
}

.section:nth-of-type(3) {
    background-color: #F04A63;
}  */



/* Secciones */
/* SMOOTH SCROLLING CON CSS https://codepen.io/luisho/pen/ZEbXWBb*/










/* ESTILOS NAVEGACION */
.nav-main{
    background: white;
    position: fixed;
    width: 100%;
    font-size: 17px;
    display: flex; /*permite organizar los elementos, al lado del otro*/
    align-items: center; /*no se */
    justify-content: space-between; /*utilizara todo el ancho disponible*/
    height: 80px; /* altura por defecto a la navegacion */
    padding: 20px 0; /* 20 arriba y abajo y de 0 a los lados*/
    transition: all 0.5s ease;
}

.nav-main.active{
    background: white;
    padding: 15px;
}

/* .nav-main.active ul,
.nav-main.active a{
    color:white;
}

.nav-main.active a:hover{
    background: #ffff;
    color: black;
} */


.scrol{
    height: 100px;
}


.nav-brand{ /* hace referencia a la imagen que pusimos de BRAND, para achicarla */
    width: 200px;
    height: 80px;
}



/* NAVEGACION IZQUIERDA */
.nav-main ul {/* desde etiqueta UL , hace que todas las etiquetas LI que puse en el UL queden una al lado de la otra*/
    display: flex;
}

.nav-main ul li{ /*  separa cada LI, deja espacio entre cada uno*/
    padding: 20px;
}


.nav-main ul li a{ /* cada etiqueta A, tendra ese pading*/ 
    padding: 2px;
    transition: all 0.5 ease;
    font-size: 1.5rem;
    /* font-weight: bold; */
}

.nav-main ul li a:hover {
    border-bottom: 6px solid #f13;
    padding: 2px 3px;   
    border-radius: 15px;
}


.nav-main ul.nav-menu{ /* nav-menu es una clase que pusimos en la etiqueta UL en html */
    /*flex: 1; /* deja todas las LI pegadas a la imagen, y no en el */
    margin-left: 20px; /* separa un poco nomas entre la imagen y los LI*/
    font-size: 1.2rem;

}



.nombreEmpresa{
    flex: 1; /* deja todas las LI pegadas a la imagen, y no en el */
    margin-left: 10px; /* separa un poco nomas entre la imagen y los LI*/
    font-size: 1.7rem;
}



/* */
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 5px; /*BIEN PEGADO AL BORDE*/
    z-index: 2;
    font-size: 1.5rem;
    display: none; /* PARA que el icono de menu no aparezca por defecto, sino que cuando hay 700pixeles nomas*/
    transition: all .5s ease-in-out; /*(5 segundos) una transicion, un efecto para que no sea tan brusco */

}


/*https://www.silocreativo.com/animacion-css-icono-menu-hamburguesa/ */








/* SHOWCASE */

hr{
    margin: 100px 100px; /* un espacio entre la navegacion y el showcase */
    transition: hr .5s ease-in-out; /*(5 segundos) una transicion, un efecto para que no sea tan brusco */

}


.showcase{ /*clase principal */
    width: 100%;
    height: 1090px;
    background: url('./FotosDesign/annie-spratt-QckxruozjRg-unsplash.jpg') no-repeat center center/cover; /*que la imagen este centrada, y centercover que la imagen ocupe todo */
    padding: 50px; /*para los elementos que coloquemos abajo. tenia padding-botom pero dejamos asi ya que para que se adapte a los 700pixeles es mejor*/
    margin-bottom: 20px; /*separa esto de las 4 columnas de abajo de noticias */
    display: flex; /*para centrar el texto que esta adentro de la foto*/
    flex-direction: column; /* para que el texto se coloque centrado en la imagen */
    align-items: center;
    justify-content: flex-end;


}

.showcase h1{
    font-style: italic;
    font-size: xx-large;
    color:#ffffff
}
.showcase p{
    font-style: italic;
    font-size: xx-large;
    margin-bottom: 500px; /* separa de la parte de abajo, por eso solo se lo pongo a este, asi no queda separado del h2 */
    color:#ffffff
}

 



.btn{
    cursor: pointer; /* que se muestre como un boton, se muestre el icono cuando pasas el cursor */ 
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    right: 25px;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 0;

}


.btn:hover{ /*que cuando pases con el cursor por encima, se note la diferencia */
    opacity: .6;
}



.texto{
    color: rgb(187, 187, 173);
    font-size: 3.5rem;
    /* PARA LA ANIMACION */
    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s; /* don't forget to set a duration! */
}

.texto2{
    /* color: #000000;
    font-size: 3rem; */
    font-size: xx-large;
    margin-bottom: 120px;
    color:#666bb6
}




.about-us{
    display: grid; /* */
    grid-template-columns: 1fr 1fr ; /* grillas de css. permite crear columnas. */
    gap: 40px; /*espaciado entre columnas */
    margin: 10px 0px; /* para separar las clumnas de los proximos elementos*/
    justify-content: space-between; 

}

.about-us img{
    /* width: 100%;
    height: 800px; */
    max-width: 100%;  /* SE LO DEJAMOS ASI, porque sino a medida que achicas la resolucion se va deformando toda la imagen, en cambio asi y modificando asi tamb los @media, no se altera*/
    height: auto;

}




/* NEWS CARDS */
.news-cards{
    display: grid; /* */
    grid-template-columns: 1fr 1fr ; /* grillas de css. permite crear columnas. va 4 porque son 4 noticias. podria ser repeat(4, 1fr)*/
    gap: 40px; /*espaciado entre columnas */
    margin: 10px 0px; /* para separar las clumnas de los proximos elementos*/

    /* PARA LA ANIMACION */
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s; /* don't forget to set a duration! */
}



.news-cards img{
    /* width: 100%;
    height: 400px; */
    max-width: 100%;
    height: auto;
}

.news-cards a:hover{
    /* PARA LA ANIMACION */
    animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.news-cards h3{
    font-size: xx-large;
    margin: 10px 0;
    color: #666bb6;
}







/* CARDS BANNER ONE */
.cards-banner-one{
    width: 100%;
    height: 500px;
    background: url('./FotosDesign/christopher-gower-m_HRfLhgABo-unsplash.jpg') no-repeat center center/cover;
    margin-bottom: 40px;

    /* PARA LA ANIMACION */
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s; /* don't forget to set a duration! */

}


.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px; /* 90 arriba, 0 abajo y 0 a la derecha, y 30 a la izquierda*/
    color: #ffffff;

}

.cards-banner-one p,/* para agregar espacio entre los textos que pusimos en h2 y P*/
.cards-banner-one h2{
    margin: 10px 0 20px 0;
}




/* CARDS BANNER TWO*/
.cards-banner-two{
    /* background: url('./FotosDesign/austin-distel-wawEfYdpkag-unsplash.jpg') no-repeat center center/cover; */
    width: 100%;
    height: 700px;
    /*opacity: 8;*/
    margin: 30px;
    padding: 30px;
    display: grid; /* */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ; /* grillas de css. permite crear columnas. va 4 porque son 4 noticias. podria ser repeat(4, 1fr)*/
    gap: 50px; /*espaciado entre columnas */
    margin: 30px 0px; /* para separar las clumnas de los proximos elementos*/
}


.cards-banner-two img{
    /* width: 90%;
    height: 150px; */
    max-width: 100%;  /* SE LO DEJAMOS ASI, porque sino a medida que achicas la resolucion se va deformando toda la imagen, en cambio asi y modificando asi tamb los @media, no se altera*/
    height: auto;
}



/* .cards-banner-two .content{
    width: 50%;
    padding: 100px 0 0 30px; /* 90 arriba, 0 abajo y 0 a la derecha, y 30 a la izquierda
*/






/* CLASE REDES SOCIALES */
.social{
    margin: 50px;

}

.social p{
    text-align: center; /*para que este alineado el texto */
    font-size: 30px; 
    margin-bottom: 20px; /*coloca como un titulo encima de los iconos*/
} 


/* FLEX BOX*/
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0 30px; /*esto deja un espacio entre cada icono, ya que cada enlace A tiene un icono diferente */
}

.links a i{ /* etiqueta i que contiene los iconos*/
    font-size: 3rem; /* agranda los iconos*/
}




/* FOOTER LINKS, DE LAS TABLAS  */
.footer-links{
    background: #2f3640 ;
    color: white;
    font-size: 20px;
    padding: 35px 0;

    /* max-width: 100%;  
    height: auto; */

}


.footer-container{
    display: grid;  /*sin esto no se arman las columnas */
    grid-template-columns: 1fr 1fr  ; /* grillas de css. permite crear columnas. va 4 porque son 4 noticias. podria ser repeat(4, 1fr)*/
    gap: 70px; /*espaciado entre columnas */
    align-items: center;
    margin: 50px 0px; /* para separar las clumnas de los proximos elementos*/
    justify-content: center;

}  


.footer-container ul li{
    line-height: 3;  /* padding: 8px;  -> es lo mismo*/
    color: rgb(211, 202, 202);
}


.footer-container ul{
    margin: 0 auto; /* esto hace que las columnas empiecen mas del centro y no del principio  */ 
}

.footer-container ul li a h3{
    color: black;
}




/*  FOOTER DE COPYRIGHT . es solo un texto que quiero centrar, si hubieran mas elementos utilizar FLEXBOX*/
.footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 40px;

}

/* @media (max-width: 1200px){

    .about-us img{
        max-width: 90%;
        height: auto;
    }

}

@media (max-width: 1100px){

    .about-us img{
        max-width: 80%;
        height: auto;
    }

} */


@media (max-width: 900px){
    .news-cards{
        grid-template-columns: 1fr;
    }

    /* .about-us img{
        max-width: 70%;
        height: auto;
    } */

    .cards-banner-two {
        grid-template-columns: 1fr 1fr 1fr 1fr ;

    }

}



/* ADAPTAR TAMAÑO EN CELULAR agregamos mediacueris*/
@media (max-width: 700px){ /* ancho maximo de 700 pixeles*/


    /* barra navegacion. basicamente volvemos a poner todos los elementos en una misma columna, los almacenamos en un div y los sacamos. cuando se presione un boton de menu aparecen todos otra vez*/
    .nav-main ul.nav-menu{
        display: block; /*para que aparezcan uno arriba del otro y no al lado*/
        position: absolute; /* para que sea encima de todo*/
        top: 0; /* para que este en la esquina*/
        right: 0; /*para que este del lado izquierdo */
        background: white;
        height: -60px; 
        margin: 15px;
        padding: 50px; /* mas espaciado entre cada elemento*/
        opacity: .8; /* le da transparencia al menu*/
        transform: translateX(-800px); /* PARA QUE DESAPAREZCA TOTALMENTE DE LA VISTA.   /// estaba levemente separado del costado izquierdo de la pagina, con -20px lo corremos para que quede en el borde. eje X*/
        transition: all .0s ease-in-out; /*(5 segundos) una transicion, un efecto para que no sea tan brusco */
    }
    
    .nav-main ul.nav-menu.show{ /*cuando este la clase show va a aparecer. con javascript hacemos aparecer y desaparecer esta clase*/
        transform: translateX(20px);
        transition: all .5s ease-in-out; /*(5 segundos) una transicion, un efecto para que no sea tan brusco */

    }

    .nav-main ul.nav-menu li{ /*aca modificamos cada elemento del nav, cada LI contiene un A con el enlace */
        padding: 20px;
        border-bottom: #ccc solid 1px; /* pone como una linea blanca entre cada uno*/
        /*font-size: 14px;*/
    }

    /* este es el icono de la lupita en html, esta dentro de esta clase. lo corremos un poco para la izquierda para que no se superponga con el icono del menu*/
    .nav-main ul.nav-menu-right{
        margin-right: 40px;
        font-size: 32px; /*lo agrando un poquito */

    }

    /* las columnas de las noticias seran de 2 cuando se achique la pantalla*/
    /* .news-cards{
        grid-template-columns: repeat(2, 1fr); 
    } */
    .news-cards{
        grid-template-columns: 1fr;
        gap: 40px; /*espaciado entre columnas */

    }


    /* banner */
    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 80%;
    }

    .cards-banner-two {
        grid-template-columns: 1fr 1fr 1fr 1fr ;

    }



    /* BOTON MENU*/
    .menu-btn{
        display: block; /* aparece el boton de menu cuando la resolucion es 700 pixeles*/
        
    }
    .menu-btn.clik{
        position: absolute;
        cursor: pointer;
        font-size: 1rem;
        transition: all .5s ease-in-out; /*(5 segundos) una transicion, un efecto para que no sea tan brusco */
        color: red;
        transform: rotate(90deg)
    }


    .about-us{
        grid-template-columns: 1fr;

    }
  


}

@media (max-width: 600px){
    /* .cards-banner-two {
        grid-template-columns: 1fr 1fr  ;

    } */

    /* lo de abajo de todo, las tablas*/
    .footer-links .footer-container{
        grid-template-columns: 1fr ; 
    }
    

}


@media (max-width: 500px){
    /* .news-cards{
        grid-template-columns: 1fr;
    }

    .news-cards img{
        height: 270px;
    }  */

    /* .about-us img{
        max-width: 60%;
        height: auto;
    } */


    .cards-banner-two {
        grid-template-columns: 1fr 1fr ;
        max-width: 90%;  
        height: auto;
      
    }

    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 100%;
        padding: 60px 20px;
    }



    /* .footer-links .footer-container{
        grid-template-columns: 1fr; /* una fraccion, solo una columna por fila*/

   


    .social{
        margin: 30px;
    
    }
    
    .social p{
        text-align: center; /*para que este alineado el texto */
        font-size: 20px; 
        margin-bottom: 10px; /*coloca como un titulo encima de los iconos*/
    } 
    
    
}










/*
.news-cards a{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;  para que este en mayuscula
    display: inline-block;
    font-weight: bold;
}
*/






